<ion-header>
  <ion-toolbar>
    <ion-title>
      Bills
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/123.PNG" alt="" />
      <ion-card-header>
        <ion-card-title>Controle de contas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Suas contas gerenciadas de uma forma prática.</p>
      </ion-card-content>
    </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header class="tituloCard">
      <span ><h5>Contas a vencer (7 dias)</h5></span>
    </ion-card-header>
    <ion-card-content>
      <p>10</p>
    </ion-card-content>
  </ion-card>
</ion-content>

